# Php
*.log
*.DS_Store
*.exe
*.pem
*.phar
/.settings
/.history
/.idea
/.sessions
/.credentials
/.login
/.release
/.svelte-kit
/dist
/vendor
/tmp
/nbproject
/SESSION
/node_modules
/package
/libevent
/.php-cs-fixer.cache
/.phpunit.result.cache
/statics


# Js
/node_modules
